      body{
        background-color:#EFEFEF;
        padding:20px;
        font-family: Helvetica, Arial, sans-serif
      }
      #container{
        margin:auto;
        width:900px;
        height:100%;
      }
      
      #demo_scroll{
        height:320px;
        width:250px;
        overflow:hidden;  
      }
      
      h1{
        padding:0px;
        margin:0px;
      }
      
      h2{
        padding:0px;
        margin:0px;
      }
      
      a{
        text-decoration:none;
        color:##5DB0E6;
      }
      
      a:hover{
       color: #0F67A1;
      }
      
      a:visited{
       color: #A55858;
        
      }
      
      .entry{
        height:59px;
        width:230px;
        padding:10px;
        margin:0;
        margin-bottom:0px;
        border-bottom:1px solid #FFFFFF;
      }
      
      #a{
        background-color:#C6CDC7;
      }
      #b{
        background-color:#B0A690;
      }
      #c{
        background-color:#DAD7C5;
      }
      #d{
        background-color:#767769;
      }
      #e{
        background-color:#7E6B71;
      }
      
      #header{
        margin-top:5px;
        float:left;
        padding:20px;
        background-color:#FFF;
        border:#C4C4C4 solid 1px;
        margin-bottom:20px;
        -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      }
      
      #content{
        padding:0 20px 20px 20px;
        margin-left:290px;
        width:570px;
        
      }
      
      #menu{
        font-size:12px;
        float:right;
        background-color:#D6D6D6;
        width:200px;
        padding:10px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border:#C4C4C4 solid 1px;
      }
      
      #description{
        width:350px;
        float:left;
      }
      
      .button{
        font-size:14px;
        background:#000000;
        display:block;
        width:175px;
        height:45px;
        margin:12px;
        line-height:45px;
        color:#FFFFFF;
        text-decoration:none;
        text-align: center;
        -moz-border-radius: 5px;
        border-radius: 5px;
        
      }
      
      .button:hover{
        color:#FFFFFF;
        background-color:#141414;
      }
      
      .button:visited{
        color:#FFFFFF;
        background-color:#232323;
      }
      
      ul {

        list-style-type: none;
        margin: 0 auto;
        padding:0;
    
        
      
      }
      li{
        list-style:none;
        margin: 0 auto;
        padding:0;
        margin-left: 0;
        padding-left: 0;
      }
      
      pre {
        width:100%;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
      
      border:1px dashed #E1E1E1;
        color:#333344;
        background:#FAFAFA;
        font-family:monospace;
        overflow:auto;
        font-size:16px;
        padding:0.5em;
      }
      